In [3]:
# In here we are going to use every possible term what we have learnt.

In [4]:
# This is SLR Example to show summary in OLS model .
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error

In [15]:
data=pd.read_csv('HomeProducts_raw_data.csv')

In [16]:
data.head()

   S.I  Advertisement  Sales
0    1          62.00  270.0
1    2          76.33  200.0
2    3          72.00  240.0
3    4          60.00  250.0
4    5          61.00  180.0

In [17]:
data.describe()

            S.I  Advertisement       Sales
count  50.00000      50.000000   50.000000
mean   25.50000      63.922400  258.192000
std    14.57738       9.859937   76.715791
min     1.00000      37.330000  120.000000
25%    13.25000      57.685000  204.500000
50%    25.50000      64.700000  250.000000
75%    37.75000      70.000000  300.000000
max    50.00000      83.000000  450.000000

In [18]:
data.shape

(50, 3)

In [19]:
X=data[['Advertisement']]
y=data['Sales']

In [21]:
import statsmodels.api as sm
from termcolor import colored as cl

In [22]:
slr_model=sm.OLS(y,X)
slr_reg=slr_model.fit()

In [23]:
print(cl(slr_reg.summary(),attrs=['bold']))

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Sales   R-squared (uncentered):                   0.932
Model:                            OLS   Adj. R-squared (uncentered):              0.930
Method:                 Least Squares   F-statistic:                              667.6
Date:                Fri, 05 Aug 2022   Prob (F-statistic):                    3.34e-30
Time:                        15:54:04   Log-Likelihood:                         -283.64
No. Observations:                  50   AIC:                                      569.3
Df Residuals:                      49   BIC:                                      571.2
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Advertisement     4.0172      0.155     25.839      0.000       3.705       4.330
==============================================================================
Omnibus:                        2.085   Durbin-Watson:                   2.102
Prob(Omnibus):                  0.353   Jarque-Bera (JB):                1.488
Skew:                           0.202   Prob(JB):                        0.475
Kurtosis:                       2.258   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [24]:
# this difference is due to using the termcolor library which has attibute to change the fond. so it is bold
slr_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Sales   R-squared (uncentered):                   0.932
Model:                            OLS   Adj. R-squared (uncentered):              0.930
Method:                 Least Squares   F-statistic:                              667.6
Date:                Fri, 05 Aug 2022   Prob (F-statistic):                    3.34e-30
Time:                        15:55:36   Log-Likelihood:                         -283.64
No. Observations:                  50   AIC:                                      569.3
Df Residuals:                      49   BIC:                                      571.2
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Advertisement     4.0172      0.155     25.839      0.000       3.705       4.330
==============================================================================
Omnibus:                        2.085   Durbin-Watson:                   2.102
Prob(Omnibus):                  0.353   Jarque-Bera (JB):                1.488
Skew:                           0.202   Prob(JB):                        0.475
Kurtosis:                       2.258   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [25]:
###############################################- New Program- #########################################################

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

In [45]:
data=pd.read_excel("Folds5x2_pp.xlsx")
data

,Ambient_Temparature,Vaccum,Ambient_Pressure,Relative_Humidity,Per_hour_Electricity
0,14.96,41.76,1024.07,73.17,463.26
1,25.18,62.96,1020.04,59.08,444.37
2,5.11,39.40,1012.16,92.14,488.56
3,20.86,57.32,1010.24,76.64,446.48
4,10.82,37.50,1009.23,96.62,473.90
...,...,...,...,...,...
9563,16.65,49.69,1014.01,91.00,460.03
9564,13.19,39.18,1023.67,66.78,469.62
9565,31.32,74.33,1012.92,36.48,429.57
9566,24.48,69.45,1013.86,62.39,435.74
9567,21.60,62.52,1017.23,67.87,453.28

In [46]:
X=data.drop(['Per_hour_Electricity'],axis=1).values
y=data['Per_hour_Electricity']

In [47]:
X.shape

(9568, 4)

In [48]:
y.shape

(9568,)

In [49]:
model=sm.OLS(y,X).fit()

In [50]:
model.params

x1   -1.678056
x2   -0.272647
x3    0.502796
x4   -0.099927
dtype: float64

In [53]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                  OLS Regression Results
=========================================================================================
Dep. Variable:     Per_hour_Electricity   R-squared (uncentered):                   1.000
Model:                              OLS   Adj. R-squared (uncentered):              1.000
Method:                   Least Squares   F-statistic:                          1.939e+07
Date:                  Fri, 05 Aug 2022   Prob (F-statistic):                        0.00
Time:                          23:20:12   Log-Likelihood:                         -29068.
No. Observations:                  9568   AIC:                                  5.814e+04
Df Residuals:                      9564   BIC:                                  5.817e+04
Df Model:                             4
Covariance Type:              nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -1.6781      0.015   -109.169      0.000      -1.708      -1.648
x2            -0.2726      0.008    -34.019      0.000      -0.288      -0.257
x3             0.5028      0.000   1209.083      0.000       0.502       0.504
x4            -0.0999      0.004    -22.678      0.000      -0.109      -0.091
==============================================================================
Omnibus:                      491.038   Durbin-Watson:                   2.021
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1475.265
Skew:                          -0.224   Prob(JB):                         0.00
Kurtosis:                       4.871   Cond. No.                         336.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [54]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)

In [56]:
model=sm.OLS(y_train,x_train).fit()

In [57]:
model.params

x1   -1.688985
x2   -0.268877
x3    0.502971
x4   -0.101633
dtype: float64

In [58]:
pred_y=model.predict(x_test)
pred_y

array([473.07477429, 465.06049712, 452.61796532, ..., 427.95816828,
       447.40184879, 443.8130669 ])

# perform Evaluation

In [59]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,r2_score

In [61]:
mae=mean_absolute_error(y_test,pred_y)
mae

3.9961709995759676

In [63]:
mape=mean_absolute_percentage_error(y_test,pred_y)
mape

0.008799541492089244

In [65]:
r2=r2_score(y_test,pred_y)
r2

0.9091434944703202

# Now till here we just defined X and y,then train test split and then fitting the model and then prediction

Till here we found that mean absolute error and mean absolute percentage error is high. 
so now we will move to implement with dataset to cover all the evalution metric in range.

Here is the part where you should look for residuals and outlier's and what thing afftecting our model.
You should also go for zscore,cook's distance analysis and levarage for clearance of outliers

# Do transformation and implement its coefficients using polynomial Regression

# Run again all evaluation metrics and at last choose model.